<ion-header>
  <ion-toolbar>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clienteForm"(ngSubmit)="enviar()">
  <ion-item>
  <ion-label position="floating"> Nome:</ion-label>
  <ion-input [(ngModel)]="cliente.nome" formControlName="nome" type="text" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Email:</ion-label>
  <ion-input [(ngModel)]="cliente.email" formControlName="email" type="text" ></ion-input>
</ion-item>
<ion-button type="submit">Confirmar</ion-button>
</form>

</ion-content>
